*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color: rgb(186, 156, 104);/*background-color: rgb(0, 0, 0);*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    height: 65px;
    background-color: black;
    align-items: center;
    padding: 15px;
    margin: 0;
}
section.logoYmenu a{
    padding: 0 10%;
}
.logoYmenu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo img{
    display: none;
}

/*Efecto Hover para el boton menu*/
.menu {
    display: flex;
    background-color: black;
    color: #0DFF34;
    font-size: 50px;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.menu:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.menu:active {
    color: #000
}

.menu:active:after {
    background: transparent;
}

.menu:hover:before {
    opacity: 1;
}

.menu:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/**************************************************************/
/*--------------------Menu extendido--------------------------*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(180, 168, 168, 0.425); /* Black w/ opacity */
    z-index: 9;
    
  }
  
  /* Modal Content */
  .modal-content {
    display: block;
    background-color: #000000;
    margin: auto;
    padding: 12px 0px 20px 0px;
    border: 1px solid #888;
    width: 410px;
    height: 660px;
    z-index: 10;
    
  }
  
  /* The Close Button */
  #close {
    display: flex;
    color: #0DFF34;
    float: right;
    font-size: 40px;
    font-weight: bold;
    width: 50px;
    margin-right: 20px;
  }

  /*******************************************************/
.namePage{
    color: ghostwhite;
    font-size: 57px;
}
header>nav{
    display: none;
}
h1{
    margin: 0;
}
.fotoPerfil{
    height: 50px;
    
}
.fotoPerfilOpen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
   
}
.perfil{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    height: 75px;
    margin: 45px 0px 30px 10px;
    
}
.datos{
    
    padding-left: 10px;
    justify-content: center;
    
}
.name{
    letter-spacing: 0.1em;
    color: white;
    margin-top: 0px;
    margin-bottom: 2px;
    padding-top: 0px;
    font-family: 'Birthstone Bounce', cursive;
    font-family: 'Noto Sans', sans-serif;
}
.mail{
    letter-spacing: 0.4em;
    color: white;
    margin-top: 0px;
    margin-bottom: 2px;
    font-family: 'Birthstone Bounce', cursive;
    font-family: 'Noto Sans', sans-serif;
}
.salir{
    letter-spacing: 0.4em;
    color: white;
    margin-top: 0px; 
    font-family: 'Birthstone Bounce', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}
.nav{
    display: block;
    background-color: #2E2E2E;
}
.cat {
    line-height: 2em;
    text-decoration: none;
    padding-bottom: 7px;
    letter-spacing: 0.4em;
    display: flex;
    font-family: 'Birthstone Bounce', cursive;
    font-family: 'Noto Sans', sans-serif;
    color: #FFFFFF;
} 

/*Efecto Hover para las categorias del menu*/
a.cat{
	position: relative;
	width: 100%;
	overflow: hidden;
	color:rgba(255,255,255,1);
	cursor: pointer;
	text-decoration: none;
	transition: all ease 0.4s;
    background: #2E2E2E;
}
 
a.cat:after,
a.cat:before{
	width: 80px;
	height: 200px;
	content: '';
	display: block;
	background: rgba(255,255,255,0.5);
	transform: rotate(45deg);
	top: -60px;
	position: absolute;
	transition: none;
	right:-45%;
	cursor: pointer;
}
 
a.cat:before{
	left: -48%;
}
 
a.cat:hover{
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background: #898989;
}
 
a.cat:hover:after,
a.cat:hover:before{
	transform: rotate(45deg), scaleX(130%);
	background: rgba(255,255,255,0.1);
	transition: all ease 0.5s;
}
 
a.cat:hover:after{
	right: 130%;
}
 
a.cat:hover:before{
	left: 130%;
}
/******************************************************/
.menuOpen{
    padding: 20px 0px 15px 0px;
    padding-top: 20px;
    text-decoration: none;
    margin: 0;
}

.buscador{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 35px;
    background-color: #E7DBDB;
    padding-right: 20px;

}
.lupa{
    font-size: 25px;
    color:#EE0382 ;
}
.redes{
    color:#EE0382;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    padding: 25px 55px 0px 55px;
}


.icon{
    font-size: 28px;
    color:#EE0382;
    padding: 3px 30px 0px 30px;
}

.redIcon{
    color:#EE0382 ;
    display: flex;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.redIcon:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.redIcon:active {
    color: #000
}

.redIcon:active:after {
    background: transparent;
}

.redIcon:hover:before {
    opacity: 1;
}

.redIcon:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/*************SlideBanners***********************/
.slideBanner{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;

}
.mySlides{
    position: absolute; 
    z-index: 2;
    color: white;
    width: 75%;
   
}
.text{
    position:absolute;
    display: flex;
    justify-content: space-around; 
    color: white;
    font-family: 'Birthstone Bounce', cursive;
    font-family: 'Noto Sans', sans-serif;
    
}
.titulo{
    position: absolute;
    z-index: 4;
    font-size: 20px;
    margin-top: 8%;
    margin-right: 43%;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    line-height: 2em;
    letter-spacing: 0.4em;
    
}

.frase{
    position: absolute;
    z-index: 5;
    margin-top: 15%;
    font-size: 13px;
    margin-right: 43%;
    width:150px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    line-height: 2em;
    
}

.new{
    position: absolute;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(97.6deg, rgba(11, 20, 237, 0.2) 38.47%, rgba(247, 14, 223, 0.2) 61.13%), rgba(64, 54, 176, 0.99);
    border-radius: 10px;
    font-size: 12px;
    font-family: 'Birthstone Bounce', cursive;
    font-family: 'Noto Sans', sans-serif;
    color: #FFFFFF;
    width: 110px;
    height: 43px;
    margin-top: 35%;
    margin-right: 45%;
    padding-left: 0px;
    border: 4px solid #F8EFEF
}
.new:hover {
  /*box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;*/
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #2dbd09, 0 0 25px #2ec236;
    
}
/********************Countdown del Banner*************/
#clock{
    text-align: end;
    z-index: 7;
    color: white;
    font-size: 20px;
    font-weight: bold;
    /*width: 350px;*/
    margin-top: 30%;
    font-family: 'Birthstone Bounce', cursive;
    font-family: 'Noto Sans', sans-serif;
    margin-right: 0%; 
    margin-left: 30%;  
    padding: 10px;
   /* text-shadow: 0 1px 1px rgba(0,0,0,0.5); */
    
        letter-spacing:1px;
        color: #fff;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #2dbd09, 0 0 25px #2ec236;
        -webkit-text-fill-color: #060507;
        -webkit-text-stroke-color:#e3dce6;
        -webkit-text-stroke-width:0.5px; 
      
}
#el{
    position: absolute;
    text-align:center;
    z-index: 7;
    color: white;
    font-size: 16px;
    font-family: 'Birthstone Bounce', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    width: 350px; 
    margin-top: 25%;
    margin-right: 0%; 
    margin-left: 35%; 
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    line-height: 2em;
    text-decoration: none;
    padding-bottom: 7px;
    letter-spacing: 0.4em;
}

        
/****************************************************************************/



.contenido{
    width: 400px;
    height: 300px;
}

/***********************seccion footer************************/

.footer{
    width: 100%;
    height: 4%;
    background-color: black;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}
.footer li{
    padding: 1%;
}

footer div nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
   
}

footer div nav ul li {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: smaller;/* 11px segun figma , preguntar */
}




footer main {
    height: 30%;
    display: flex;
    justify-content: center;
}

footer main .transp{    
    width: 98vw;
    background-color:rgba(240, 240, 240, 0.6);
}

.redes2{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
.redes2 h2{
    width: 100%;
}
.iconRed{
    color: #ee0382;
    font-size: 24px;
}


.transp div li a{
 text-decoration: none;
 color: #272222;
 cursor: pointer;
}


.transp div.redes2 li a{
    padding:  0 0.4vw;
   }

.transp div li a:hover{
    text-decoration: none;
    color: #6b6666;
    cursor: pointer;
   }

.transp{
    display: flex;
    flex-wrap: wrap;
}
.suscribir, .favoritos, .ayuda, .redes2, .contacto, .logof, .select, .cyl{
    text-align: center;
    width: 100%;
}

.idioma{
    display: none;
}

/******************************* 4 en linea *************************/
.juego4{
    display: flex;
    justify-content: center;
    width: 45%;


}
.juego4 img{
    width: 100%;
    min-width: 400px;
    object-fit: contain;    
}
.contenedorJuego{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contenedorJuego div.turno, .estrellas,aside.izq input{
    width: 100%;
}
aside.izq,aside.der{
align-self: center;
    width: 20%;
    min-width: 200px;
}
.contenedorJuego div.turno{
    text-align: center;
}
aside.izq{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
aside.izq input{
margin: 5%;
width: 80%;
height: 8vh;
}


/*******************************fin 4 en linea *************************/
@media (min-width: 700px){
    /*footer*/
    
    .suscribir, .favoritos, .ayuda, .redes2,  .select, .cyl{
        text-align: center;
        width: 16%;
    }
    .select{
        display: none;
    }

    .idioma{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .idioma li{
        list-style: none;
    }
    .idioma>h2{
        width: 100%;
    } 
    .idioma ul{
        padding: 0 5%;
    }
    /*footer fin*/
    
    header{
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between;
        padding: 10px;
    }
    .logo img{
        display: flex;
        justify-content: space-between;
        height: 60px;
        margin: 12px;

    }
    header nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }
    .fotoPerfil{
        height: 50px;
        width: 50px;
        
    }
    .nav-link{
        color: #EE0382;
        font-size: 35px;
        margin-right: 15px;
    }
    
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 0px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(241, 235, 235, 0.438); /* Black w/ opacity */
        z-index: 8;
      }
      
      /* Modal Content */
      .modal-content {
        margin: 0;
        width: 564px;
        z-index: 9;
      }

      /*************SlideBanners***********************/
.titulo{
    font-size: 25px;    
}

.frase{
    font-size: 15px;
    width:200px;
}
.new{
    font-size: 20px;
    border-radius: 20px;
    width: 190px;
    height: 75px;
    margin-top: 35%;
}
#clock{
    font-size: 25px;
    font-weight: bold;
    /*width: 450px;  */
}
#el{
    font-size: 20px;
    width: 350px; 
}
    
}

@media (min-width: 900px){
    /*************SlideBanners***********************/
    .titulo{
      font-size: 30px;    
  }
  
  .frase{
      font-size: 20px;
      width:300px;
  }
  .new{
      font-size: 25px;
      border-radius: 30px;
      width: 230px;
      height: 90px;
      margin-top: 35%;
  }
  #clock{
    font-size: 30px;
    /*width: 500px;  */
 }
    #el{
        font-size: 25px;
        width: 350px; 
    }
      
}
@media (min-width: 1200px){
    /*************SlideBanners***********************/
    .titulo{
      font-size: 50px;    
  }
  
  .frase{
      font-size: 30px;
      width:400px;
  }
  .new{
      font-size: 30px;
      border-radius: 40px;
      width: 330px;
      height: 125px;
      margin-top: 35%;
  }
  #clock{
    font-size: 45px;
    font-weight: bold;
    /*width: 500px;  */
    }
    #el{
        font-size: 50px;
        width: 350px; 
        font-weight: bold;
        margin-left: 30%;
    }
      
}