body{
    margin: 0;
    background-color: black;
}
header{
    display: flex;
    justify-content: space-between;
    height: 65px;
    background-color: black;
    align-items: center;
    padding: 15px;
    margin: 0;
}
.logoYmenu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo img{
    display: none;
}

/*Efecto Hover para el boton menu*/
.menu {
    display: flex;
    background-color: black;
    color: #0DFF34;
    font-size: 50px;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.menu:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.menu:active {
    color: #000
}

.menu:active:after {
    background: transparent;
}

.menu:hover:before {
    opacity: 1;
}

.menu:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/**************************************************************/
/*--------------------Menu extendido--------------------------*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(180, 168, 168, 0.425); /* Black w/ opacity */
    
  }
  
  /* Modal Content */
  .modal-content {
    display: block;
    background-color: #000000;
    margin: auto;
    padding: 12px 0px 20px 0px;
    border: 1px solid #888;
    width: 410px;
    height: 660px;
    
  }
  
  /* The Close Button */
  #close {
    display: flex;
    color: #0DFF34;
    float: right;
    font-size: 40px;
    font-weight: bold;
    width: 50px;
    margin-right: 20px;
  }

  /*******************************************************/
.namePage{
    color: ghostwhite;
    font-size: 57px;
}
nav{
    display: none;
}
h1{
    margin: 0;
}
.fotoPerfil{
    height: 50px;
}
.fotoPerfilOpen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
   
}
.perfil{
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    padding-left: 20px;
    height: 75px;
    margin: 45px 0px 30px 10px;
    
}
.datos{
    
    padding-left: 10px;
    justify-content: center;
    
}
.name{
    letter-spacing: 0.1em;
    color: white;
    margin-top: 0px;
    margin-bottom: 2px;
    padding-top: 0px;
    font-family: 'Birthstone Bounce', cursive;
    font-family: 'Noto Sans', sans-serif;
}
.mail{
    letter-spacing: 0.4em;
    color: white;
    margin-top: 0px;
    margin-bottom: 2px;
    font-family: 'Birthstone Bounce', cursive;
    font-family: 'Noto Sans', sans-serif;
}
.salir{
    letter-spacing: 0.4em;
    color: white;
    margin-top: 0px; 
    font-family: 'Birthstone Bounce', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}
.nav{
    display: block;
    background-color: #2E2E2E;
}
.cat {
    line-height: 2em;
    text-decoration: none;
    padding-bottom: 7px;
    letter-spacing: 0.4em;
    display: flex;
    font-family: 'Birthstone Bounce', cursive;
    font-family: 'Noto Sans', sans-serif;
    color: #FFFFFF;
} 

/*Efecto Hover para las categorias del menu*/
a.cat{
	position: relative;
	width: 100%;
	overflow: hidden;
	color:rgba(255,255,255,1);
	cursor: pointer;
	text-decoration: none;
	transition: all ease 0.4s;
    background: #2E2E2E;
}
 
a.cat:after,
a.cat:before{
	width: 80px;
	height: 200px;
	content: '';
	display: block;
	background: rgba(255,255,255,0.5);
	transform: rotate(45deg);
	top: -60px;
	position: absolute;
	transition: none;
	right:-45%;
	cursor: pointer;
}
 
a.cat:before{
	left: -48%;
}
 
a.cat:hover{
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background: #898989;
}
 
a.cat:hover:after,
a.cat:hover:before{
	transform: rotate(45deg), scaleX(130%);
	background: rgba(255,255,255,0.1);
	transition: all ease 0.5s;
}
 
a.cat:hover:after{
	right: 130%;
}
 
a.cat:hover:before{
	left: 130%;
}
/******************************************************/
.menuOpen{
    padding: 20px 0px 15px 0px;
    padding-top: 20px;
    text-decoration: none;
    margin: 0;
}

.buscador{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 35px;
    background-color: #E7DBDB;
    padding-right: 20px;

}
.lupa{
    font-size: 25px;
    color:#EE0382 ;
}
.redes{
    color:#EE0382;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    padding: 25px 55px 0px 55px;
}


.icon{
    font-size: 28px;
    color:#EE0382;
    padding: 3px 30px 0px 30px;
}

.redIcon{
    color:#EE0382 ;
    display: flex;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.redIcon:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.redIcon:active {
    color: #000
}

.redIcon:active:after {
    background: transparent;
}

.redIcon:hover:before {
    opacity: 1;
}

.redIcon:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /*background: #111;*/
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

        
/****************************************************************************/
@media (min-width: 700px){
    header{
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between;
        padding: 10px;
    }
    .logo img{
        display: block;
        height: 60px;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }
    .fotoPerfil{
        height: 50px;
    }
    .nav-link{
        color: #EE0382;
        font-size: 35px;
        padding-right: 10px;
    }
    .nav-link:hover{
       color:plum;
    }
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 0px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(241, 235, 235, 0.438); /* Black w/ opacity */
      }
      
      /* Modal Content */
      .modal-content {
        margin: 0;
        width: 564px;
      }
    
}