body {
    overflow-x: hidden;
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 100%;
   
    
    
}
div.parallax {

    width: 1440px;
    height: 900px;
    margin: .5% auto;
    margin-top: 25px;
    position: relative;
    /*box-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;*/
    
}

@keyframes scroll {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1200px;
    }
}

.animation {

    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
}

.caja1 {
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: repeat-x;
    background: url('../img/parallax/stars.jpg');
    z-index: 1;
    animation: scroll 29s linear infinite;
}

.caja2 {
    position: absolute;
    top: -4%;
    left: -7%;
    background: url('../img/parallax/avengers-superheroes-personajes\ \(redimension\).png');
    z-index: 2;
    background-repeat: no-repeat;
    margin-left: 20px;
    /*animation: scroll 24s linear infinite;*/
    

}

.caja3 {
    position: absolute;
    top: -13%;
    left: 27%;
    background: url('../img/parallax/Avengers-Logo-2012-PhotoRoom\ \(3\).png')/*repeat-x*/;
    /*animation: scroll 15s linear infinite;*/
    background-repeat: no-repeat;
    z-index: 5;
}

.fondo{
    position: absolute;
    z-index: 4;
    width: 1440px;
    height: 388px;
    left: 0px;
    top: 100px;
    background:  rgba(0, 0, 0, 0.3);
}
.fondoNegro{
    position: absolute;
    z-index: 4;
    width: 1440px;
    height: 190px;
    left: 0px;
    top: 710px;
    background:  rgba(0, 0, 0, 0.986);;
}

.lanzamientoB{
    position: absolute;
    top: 0;
    z-index: 6;
    width: 100%;
    height: 100%;
}

.new{
    position: absolute;
    left: 52%;
    top: 26.5%;

}

.frase1{
    position: absolute;
    left: 30%;
    right: 30%;
    top: 30%;
    bottom: 85%;
    font-family: 'Birthstone Bounce', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 1000;
    font-size: 48px;
    line-height: 118.69%;
    /* or 57px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.11em;
    color: #FFFFFF;
    /*border: 3px solid #100F0F;*/
    text-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25),
                 0px 9px 9px rgba(0, 0, 0, 0.25),
                 0px 9px 9px rgba(0, 0, 0, 0.25),
                 0px 9px 9px rgba(0, 0, 0, 0.25),
                 0px 9px 9px rgba(0, 0, 0, 0.25),
                 0px 9px 4px rgba(0, 0, 0, 0.25),
                 0px 9px 9px rgba(0, 0, 0, 0.25),
                 0px 9px 9px rgba(0, 0, 0, 0.25);
}
.prep{
    position: absolute;
    left: 18%;
    right: 50%;
    top: 83%; 
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgb(12, 0, 0), 0 0 20px #f6feff, 0 0 25px #ecf1ed;
        -webkit-text-fill-color: #040e08;
        -webkit-text-stroke-color:#110c13;
        -webkit-text-stroke-width:0.5px; 
}

#regresiva{
    position: absolute;
    top: 40%;
    left: 41%;
    right: 19%;
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Birthstone Bounce', cursive;
    font-family: 'Noto Sans', sans-serif;
     /*text-shadow: 0 1px 1px rgba(0,0,0,0.5); */
    letter-spacing:1px;
    color: #fff;
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
      /*  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgb(12, 0, 0), 0 0 20px #f6feff, 0 0 25px #ecf1ed;
        -webkit-text-fill-color: #040e08;
        -webkit-text-stroke-color:#110c13;
        -webkit-text-stroke-width:0.5px; */   
}
#el{
    top: 2.2%;
    left: -7%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/*******Slide Personajes**************/

.content {
    position: relative;
    width: 100%;
    height: 450px;
    top: 45px;
    overflow: hidden;
    display: flex;
    margin: 0px auto;
    z-index: 1;
    -webkit-transition: 1.5s ease-in-out;
	transition: 1.5s ease-in-out;
	transform-style: preserve-3d;
    box-shadow: 0 12px 16px rgba(236, 230, 230, 0.295);
    /*box-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;*/   
}

.slides{
    position: absolute;
       
}



div.imgBtn {
    position: relative;
    /*z-index: 1;*/
    width: 100%;
    height: 250px;
    /*height: 450px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /*margin: auto;*/
    padding-top: 20px;
    margin-left:0%;
    
}
    /*box-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;*/   




.imgBtn .text:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(236, 230, 230, 0.295);
    
}

.imgBtn .fotoB{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

button.botonP{
    background: none;
    padding: 0;
    margin: 0;
    border: none;
}

.botonP .rightP{
    position: absolute;
    right: -0.5em;
    top:2em;
    background: none;
    color: #EE0382;
    font-size: 60px;
    padding-right: 35px;
    padding-top: 5px;
    text-align: center;
    border: none;

    }

.botonP .rightP:hover{
    color: plum;
}
.botonP .leftP{
    position: absolute;
    left: 0em;
    top:2em;
    z-index: 5;
    background: none;
    color: #EE0382;
    font-size: 60px;
    padding: 5px;
    text-align: center;
    border: none;

}

.botonP .leftP:hover{
    color: plum;
}

.frase2{
    display: flex;
    text-align: center;
    align-items: center;
    width: 700px;
    bottom: 85%;
    z-index: 5;
    margin-left: 23%;
    padding-top: 30px;
    font-family: 'Birthstone Bounce', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    /* or 57px */
    letter-spacing: 0.11em;
    color: #FFFFFF;
    margin: 0px auto;
    /*border: 3px solid #100F0F;*/
    
}

.heroe{

    margin-left: 45%;
    margin-top: 60px;
    padding-top: 30px;
}

.text{
    position: relative;
    display: flex;
    align-items: center;
    width: 98%;
    margin:1%;
    
}

.desc{
    position: absolute;
    z-index: 3;
    display: flex;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 100%;
    /*bottom: 85%;*/
    margin-left: 23%;
    font-family: 'Birthstone Bounce', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-size: 75%;
    /* or 57px */
    letter-spacing: 0.11em;
    color: #FFFFFF;
}
.fondoP{
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 52%;
    height: 100%;
    /*bottom: 85%;*/
    margin-left: 20%;
    /* or 57px */
    background: rgba(14, 8, 71, 0.603);
}

.fotoB .text .demo{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: auto;
    
}

.content:hover {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
/************************************/
.histF{
   
        font-size: 30px;
        text-align: center;
        width: 400px;
        letter-spacing: 0.11em;
        color: white;
        margin-left: 35%;
   
}
.features{
    max-width: 100%;
    height: 500px;
    font-family: 'Birthstone Bounce', cursive;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 3%;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
   
}
.features .feat{
    position: relative;
    z-index: 1;
    max-width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin: 0px auto;
    justify-content:space-between ;
   
}

.features .feat .featP{
    max-width: 24%;
    max-height: 50%;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    justify-content: space-between;
}

.featP img{
    width: 200px;
    height: 200px;
    top: 5%;
    box-sizing: border-box;
    overflow: hidden;
    border: 7px rgb(0, 0, 0) solid;
    border-radius: 10%;
    box-shadow: 0 5px 30px 0px rgba(190, 191, 196, 0.829);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}   

/*.featP:hover {
	animation: flip 2s linear infinite;
}*/

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(228, 218, 218, 0.9);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(252, 252, 252, 0.);
        transform: translatey(-15px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(228, 218, 218, 0.9);
        transform: translatey(0px);
    }
}

/*@keyframes flip {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}*/
.fondoF{
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 200px;
    height: 30%;
    justify-content: center;
    bottom: 0;
   
    /*bottom: 85%;*/
   /* margin-left: 23%;*/
    /* or 57px */
    background: rgba(14, 8, 71, 0.603);
}

.descF{
    position: absolute;
    z-index: 3;
    display: flex;
    text-align: center;
    align-items: center;
   
    width: 200px;
    height: 100%;
    /*bottom: 85%;*/
    /*margin-left: 23%;*/
    font-family: 'Birthstone Bounce', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-size: 75%;
    /* or 57px */
    letter-spacing: 0.11em;
    color: #FFFFFF;
}
  
.video{
    max-width: 100%;
    height: 450px;
    margin-top: 70px;
    display: flex;
    justify-self: center;
}

.videoC{
    max-width: 60%;
    height: 25em;
    /*background: violet;*/
   
    margin: 0px auto;
}

.historia{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top:0px;
    max-width: 100%;
    font-family: 'Birthstone Bounce', cursive;
    font-family: 'Noto Sans', sans-serif;
}

.parrafos{
    max-width: 80%;
    font-size: 16px;
    
}

.hist{
    font-size: 30px;
    text-align: center;
    width: 400px;
    margin-top:0px;
    letter-spacing: 0.11em;
    color: white;

}
.hist1, .hist2, .hist3, .hist4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imgPie{
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 250px;

}

.imgP{
    max-width: 80%;
    height: 70%;
    margin: 0px auto;
 }

/*************carrusel animado **************/
.contPrincipal {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    font-family: 'Urbanist', sans-serif;
}


.contPrincipal .containerL input {
    display: none;
}

.contPrincipal .containerL {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contPrincipal .cardsL {
    position: relative;
    height: 500px;
    width: 430px;
    margin-bottom: 20px;
    perspective:1000px;
    transform-style: preserve-3d;
}

article.contPrincipal .cardsL label {
    position: absolute;
    width: 430px;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform  0.55s ease;
}
.cardsL .card .image{
    position: relative;
    display: flex;
    justify-content: center;
}
article.contPrincipal .cardsL .card{
    position: relative;
    height: 30em;
    background-color: #323444;
    border-radius: 10px;
    padding: 30px 40px;
   
}

article.contPrincipal .card .image img{
    border-radius: 5px;
    margin-top: 20px;
    width:100%;
    height: 220px;
    object-fit: cover;
}

article.contPrincipal .card .infos{
    display: block;
    text-align: center;
    padding-top: 30px;
}

.infos span{
    display: block;
}

.infos .name{
    font-size: 30px;
    color: var(--current-color1);
    letter-spacing: 8px;
    margin-bottom: 20px;
    transition: all .6s ease;
}

.infos .lorem{
    font-size: 15.5px;
    color: #ECEAED;
    letter-spacing: 3px;
}

article.contPrincipal .card .image img.imgRellena{
    position: relative;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
}
article.contPrincipal .card .image img.imgVacia{

    position: absolute;
    border-radius: 5px;
    margin-top: 20px;
    width:100%;
    height: 220px;
    object-fit: cover;
}
#s1:checked ~ .cardsL #slide4,
#s2:checked ~ .cardsL #slide5,
#s3:checked ~ .cardsL #slide1,
#s4:checked ~ .cardsL #slide2,
#s5:checked ~ .cardsL #slide3 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;

}

#s1:checked ~ .cardsL #slide5,
#s2:checked ~ .cardsL #slide1,
#s3:checked ~ .cardsL #slide2,
#s4:checked ~ .cardsL #slide3,
#s5:checked ~ .cardsL #slide4 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked ~ .cardsL #slide1,
#s2:checked ~ .cardsL #slide2,
#s3:checked ~ .cardsL #slide3,
#s4:checked ~ .cardsL #slide4,
#s5:checked ~ .cardsL #slide5 {
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(0, 0, 0);
    --current-color1: #fad00c;
    --current-color2: #ECEAED;
}

#s1:checked ~ .cardsL #slide2,
#s2:checked ~ .cardsL #slide3,
#s3:checked ~ .cardsL #slide4,
#s4:checked ~ .cardsL #slide5,
#s5:checked ~ .cardsL #slide1 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked ~ .cardsL #slide3,
#s2:checked ~ .cardsL #slide4,
#s3:checked ~ .cardsL #slide5,
#s4:checked ~ .cardsL #slide1,
#s5:checked ~ .cardsL #slide2 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

.goodClass{
    animation: good 0.7s linear ;
}

@keyframes good {
    0%{
        transform: scale(5);
    }
    25%{
        transform: scale(4);
    }
    50%{
        transform: scale(3);
    }
    75%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}
/********** fin carrusel animado ***********/
